<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <section name="customQuery" 
             type="DinamycSQL.CustomQuery, DinamycSQL" 
             requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client"
        type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="FXDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=DESKTOP-Q2HAB8S)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="FXDbContext" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="User Id=FXUSER;Password=FXUSER;Data Source=FXDataSource"/>
  </connectionStrings>  
  <appSettings>
    <add key="FILE_PATH"        value=""/>
    <add key="FILE_NAME"        value="Template.txt"/>
    <add key="FILE_ACCESS"      value="Anonimous"/>
    <add key="USER_NAME"        value=""/>
    <add key="PASSWORD"         value=""/>
    <add key="HEADER_ROW"       value="0"/>
    <add key="HEADER_SEPARATOR" value=","/>
    <add key="ROW_SEPARATOR"    value=","/>
  </appSettings>
  <customQuery name="FirstQuery">
    <sourceFile name="template1.txt" path="D:/remote_files" separator="," />
    <queryParameters>
      <add name="PARAM1" value="" position="1" />
      <add name="PARAM2" value="" position="2" />
      <add name="PARAM3" value="" position="3" />
    </queryParameters>
      <queryScripts>
      <add value="INSERT INTO FXUSER.T_TEMP_01(ID, F1, F2, F3) VALUES(:ID, :F1, :F2, :F3)" />
    </queryScripts>
  </customQuery>
  
  <!--<customQuery>
    <query name="InsertIntoTemp1">
      <source-file>
        <add key="Name" value="Template.txt" />
        <add key="Path" value="" />
        <add key="Separator" value="," />
      </source-file>
      <parameters>
        <param name="ID" value="" position=""></param>
        <param name="F1" value="" position=""></param>
        <param name="F2" value="" position=""></param>
        <param name="F3" value="" position=""></param>  
      </parameters>
      <script>
        INSERT INTO FXUSER.T_TEMP_01(ID, F1, F2, F3) VALUES(:ID, :F1, :F2, :F3)
      </script>
    </query>
  </customQueries>-->
</configuration>